html {
  border: 1px solid red;
}

body {
  border: 1px solid black;
}

#wrapper {
  background-color: skyblue;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

#first {
  background-color: beige;
  width: 300px;
  height: 1200px;
}

#calculate-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.3);
}

.box {
  position: fixed;
  background-color: black;
  color: white;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
